/* .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 40px;
    grid-auto-rows: minmax(100px, auto);
    gap: 1px;
    background-color: #cdcdcd;
}

.calendar > div:nth-child(-n + 7) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar > div {
    background-color: #eeeeee;
}

.header {
    font-size: 20px;
}

.date {
    display: inline-block;
    width: 25%;
    height: 35px;
    padding: 5px;
    font-size: 12px;
    background-color: #404040;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 10px;
}

.icon {
    min-height: 20px;
    min-width: 20px;
    height: 20px;
    width: 20px;
    color: black;
    margin-right: 5px;
}

.important {
    background-color: #fecaca;
}

.description {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
} */
