#header {
    font-family: "Fauna One", serif;
    margin-bottom: 50px;
}
#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
}

#nav {
    font-family: "Cutive Mono", monospace;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#nav a {
    text-decoration: none;
    color: black;
}

#calendar {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto; /* only sets the height for the first row */
    grid-auto-rows: minmax(150px, auto); /* subsequent rows */
    border-top: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

#calendar > div {
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.daysofweek {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.bullet {
    display: inline-block;
    padding: 3px;
    margin-right: 3px;
}

.daybox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.vecboxes {
    --unused-variable: 0;
}

.scaboxes {
    --unused-variable: 0;
}

.vecbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.scabox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.description {
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
}

.vecbox .description {
    text-decoration: underline;
}

.important {
    display: inline-block;
    background-color: chartreuse;
    padding: 3px;
}
